# smelli playground

This Jupyter notebook allows you to try out the `smelli` Python package. Note that the execution speed is limited. To make full use of the package, install it locally with 

```bash
pip3 install --user smelli
```

Execute the cells of this notebook with shift + enter.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from playground import *

## Step 1: EFT and basis

Execute this cell and select an EFT and basis

In [3]:
widgets.HBox([widget_eft, widget_basis])

HBox(children=(interactive(children=(Select(description='eft', options=('SMEFT', 'WET'), value='SMEFT'), Outpu…

## Step 2: likelihood

execute this cell to initialize the likelihood. This will only take a moment.

In [4]:
gl = smelli.GlobalLikelihood(eft=select_eft.value, basis=select_basis.value)

## Step 3: Wilson coefficients

select a point in EFT parameter space by entering in the text field Wilson coefficient values in the form `name: value`, one coefficient per line (this format is called YAML).

Example in the SMEFT Warsaw basis:

```yaml
lq1_2223: 1e-9
lq1_3323: 1e-8
lq3_3323: 1e-8
```

In [5]:
widgets.HBox([ta_wc, t_scale])

HBox(children=(Textarea(value='', description='Wilson coefficients', layout=Layout(height='300px', min_width='…

## Step 4: parameter point

execute this cell to intialize the `GlobalLikelihoodPoint` object

In [6]:
glp = gl.parameter_point(read_yaml(ta_wc.value), float(t_scale.value))

## Step 5: results!

inspect the likelihood by looking at the numerical value ...

In [7]:
glp.log_likelihood_global()

0.0

... or inspecting the table of observables

In [8]:
df = glp.obstable()
df[:10]  # showing only the ten most discrepant observables

,exp. unc.,experiment,pull,th. unc.,theory
"(<dBR/dq2>(Bs->phimumu), 1.0, 6.0)",3.6338e-09,2.56529e-08,3.78721,6.45333e-09,5.37012e-08
a_mu,6.28464e-10,0.00116592,3.5038,4.34558e-10,0.00116592
"(<P5p>(B0->K*mumu), 4, 6)",0.149137,-0.206301,3.30324,0.0740642,-0.756341
Rtaul(B->D*lnu),0.0177015,0.306019,3.29236,0,0.247769
"(<AFBlh>(Lambdab->Lambdamumu), 15, 20)",0.0409778,0.249678,2.63299,0.00745462,0.140013
epsp/eps,0.000229169,0.00166255,2.62053,0.000603794,-2.98528e-05
"(<Rmue>(B+->Kll), 1.0, 6.0)",0.0978848,0.745,2.61599,0,1.0001
Rtaul(B->Dlnu),0.0497172,0.406331,2.60044,0,0.277045
BR(W->taunu),0.0021,0.1138,2.56346,0,0.108417
"(<Rmue>(B0->K*ll), 1.1, 6.0)",0.123108,0.681356,2.54603,0,0.996459

Note that the observable table is a pandas DataFrame object, so you can use all its [features](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) like sorting and filtering

In [9]:
df.loc[['a_e', 'a_mu', 'a_tau']].sort_values('exp. unc.')

         exp. unc.  experiment     pull     th. unc.      theory
a_e    2.60161e-13  0.00115965  1.88887  2.30441e-13  0.00115965
a_mu   6.28464e-10  0.00116592   3.5038  4.34558e-10  0.00116592
a_tau    0.0172377  -0.0180274   1.1141   4.8907e-08  0.00117721